body {
  padding: 2.4rem;
}

* {
  user-select: none;
}

.app-toucharea {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
  padding: 1px;
  margin: auto;

  background-color: var(--colour-divider);
  border-radius: 1px;
}

.app-toucharea-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4rem;
}

.app-axis-x,
.app-axis-y {
  position: absolute;
  font-size: 1.2rem;
}

.app-axis-x {
  bottom: 1.6rem;
  left: 50%;

  transform: translateX(-50%);
}

.app-axis-y {
  bottom: 50%;
  left: 1.6rem;

  transform: rotate(-90deg) translateX(-50%);
  transform-origin: center left;
}

.app-toucharea-cell {
  background-color: var(--colour-bg-elevated);
  pointer-events: none;
}

.app-options-button {
  position: fixed;
  top: 0.8rem;
  right: 0.8rem;
  padding: 1.6rem;

  background-color: var(--colour-fg);
  border-radius: 0.4rem;
  color: var(--colour-bg);
  text-transform: uppercase;

  opacity: 0.4;
  transition: opacity 0.1s ease, transform 0.15s ease-in-out,
    background-color 0.2s ease;
}
.app-options-button:hover {
  background-color: var(--colour-fg-secondary);

  opacity: 1;
  transform: scale(1.02);
}
.app-options-button:active {
  transform: scale(0.99);
}

.app-options-items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.app-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: flex-start;
}

.app-label {
  font-size: 0.8em;
  font-weight: bold;

  color: var(--colour-fg-secondary);
}

.app-selectbox {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: 0.1rem solid var(--colour-fg-secondary);

  border-radius: 0.4rem;
}

.app-button {
  display: inline-block;
  padding: 0.8rem 2.4rem;
  align-self: center;

  background-color: var(--colour-fg);
  border-radius: 0.4rem;
  color: var(--colour-bg);
  text-align: center;

  transition: transform 0.15s ease-in-out;
}
.app-button:hover {
  transform: scale(1.02);
}
.app-button:active {
  transform: scale(0.99);
}

.app-link {
  color: var(--colour-fg-secondary);
  text-decoration: underline;
}

.app-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1.6rem;
  width: 40rem;
  max-width: calc(100vw - 4.8rem);
  height: auto;
  min-height: 0;
  max-height: 80vh;

  background-color: var(--colour-bg-elevated);
  border-radius: 0.4rem;
  box-shadow: 0 0 1.6rem rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  z-index: 6;

  transform: translate(-50%, -50%);
}

.app-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--colour-bg);
  z-index: 5;

  opacity: 0.95;
}

.app-debug {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
  font-size: 1.2rem;

  background-color: rgba(0, 0, 0, 0.7);
}
.app-debug > :not(:first-child) {
  margin-top: 1em;
}

